body {
  background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(43,0,94,1) 47%, rgba(113,0,148,1) 100%);
  font-family: sans-serif;
  color: #FFFFFF;
}

.Title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#topBar {
  height: auto;
  width: 100%;
  background-color: #00000080;
  position:fixed;
  top:0px;
  left:0px;
  z-index:1000;
}

#menuOpen {
  height: 10px;
  width: 10px;
  background-color: #FFFFFF;
  position:fixed;
  top:5px;
  left:5px;
  z-index:1000;
  display: block;
}

.menuButton {
  height: 32px;
  width: auto;
  padding: 5px 10px 10px 5px;
  background-color: #88888800;
}

div.menuButton:hover {
  height: 32px;
  width: auto;
  padding: 5px 10px 10px 5px;
  background-color: #88888888;
}

.debug-box {
  width: 100px;
  height: auto;
  border: 5px solid #FF0000;
  border-radius: 10px;
}

.menuText {
  font-size: 20px;
  float: right;
  margin-left: 10px;
  margin-top: 8px;
}
